<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="therapy:theracontent:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="therapy:theracontent:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div>
							<div>
								<div class="f-w" style="display: flex">
									<div class="f" style="flex-grow:1;margin-right: 25px;margin-left: 25px">
										<label for="parentId" class="control-label" >父节点编码:</label>
										<input type="text" class="form-control" id="parentId" name="parentId" placeholder="例如：DE05.01.902.01.."
											   style="max-width: 65%;display: inline-block" />
									</div>
									<div class="f" style="flex-grow:1;margin-right: 25px">
										<label for="nametp" class="control-label" >名称:</label>
										<input type="text" class="form-control" id="nametp" name="nametp" placeholder="例如：解表法、和解少阳.."
											   style="max-width: 65%;display: inline-block" />
									</div>
									<div class="f" style="flex-grow:1;margin-right: 25px">
										<label for="applicableSymptom" class="control-label" >适用症候:</label>
										<input type="text" class="form-control" id="applicableSymptom" name="applicableSymptom" placeholder="例如：发汗、用味辛性凉方药.."
											   style="max-width: 65%;display: inline-block" />
									</div>
								</div>
								<div class="f-w" style="display: flex;margin-top: 20px">
									<div class="f" style="flex-grow:1;margin-right: 25px;margin-left: 25px">
										<label for="nametpUnit" class="control-label" >此节点编码:</label>
										<input type="text" class="form-control" id="nametpUnit" name="nametpUnit" placeholder="例如：DE05.01.902.01.01.."
											   style="max-width: 65%;display: inline-block" />
									</div>
									<div class="f" style="flex-grow:1;margin-right: 25px">
										<label for="synonymWord" class="control-label" >同义:</label>
										<input type="text" class="form-control" id="synonymWord" name="synonymWord" placeholder="例如：发表散寒、攻逐水饮.."
											   style="max-width: 65%;display: inline-block" />
									</div>
									<div class="f" style="flex-grow:1;margin-right: 25px">
										<label for="specificTreatment" class="control-label" >治疗方法:</label>
										<input type="text" class="form-control" id="specificTreatment" name="specificTreatment" placeholder="例如：发汗、用味辛性凉方药.."
											   style="max-width: 65%;display: inline-block" />
									</div>
								</div>
							</div>
							<div>
								<div style="float: left">
									<div class="columns pull-right" style="margin-left: 510px;margin-bottom: 20px">
										<button class="btn btn-success" style="width: 200px" onclick="reLoad()">查询</button>
									</div>
								</div>
							</div>
						</div>

					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="therapy:theracontent:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="therapy:theracontent:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="therapy:theracontent:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/therapy/theracontent/theracontent.js"></script>
</body>
</html>