<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading"><h3>中医临床诊疗术语治法部分数据预处理系统</h3><br>
        Design and Implementation of Data Preprocessing System TCM clinical treatment terminology treatment part</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>据统计，一个完整的数据挖掘过程中，数据预处理要花费60％左右的时间，而后挖掘工作仅占总工作量的10％左右。</li>
            <li>大数据时代的到来，为中医药现代化和规范化提供了新思路，带来了新机遇。</li>
            <li>将中医临床原始数据转化为结构数据，进行数据预处理，将中医药语言恰当地转化为数字化语言，并从中挖掘出中医知识和规律，从而推进中医药现代化进程。中医数据预处理即针对中医的病名症状、病因病机、辨证论治、方剂、中药等各种临床产生的原始数据，提出一套以数据清洗、合并、简化为主的规范化处理方案，使记录的数据准确、有序，利于后续数据挖掘等处理。</li>
            <li>中医数据具有独特的表达形式和特点，数据缺失与术语不规范是其最大的问题，因此需要对原始数据进行填补缺失、消除噪声等数据预处理操作，为数据挖掘提供高质量的数据，提高数据挖掘的工作效率，从而保证结论的科学性。在国内外也暂时并没有具体和详细的对中医临床诊疗术语有过数据预处理方面的研究。</li>
            <li>中医诊疗术语博大精深，本文系统仅以治则治法为研究对象。</li>
        </ul>

        <!--TODO 待删除 <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git"
                            th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a>
            </li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a>
            </li>
        </ul>-->

        <!--TODO 待删除<h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群聊【BootDo交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5EYXfiZ">669039323</a></li>
            <li>点击链接加入群聊【BootDo交流二群】：<a href="https://jq.qq.com/?_wv=1027&k=5M659N4">614726589</a></li>
            <li>点击链接加入群聊【BootDo交流三群】：<a href="https://jq.qq.com/?_wv=1027&k=5tE3A9O">600801035</a></li>
            <li>点击链接加入群聊【CloudDo交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5Zk12Xl">719741533</a></li>
        </ul>-->

        <!--TODO 待删除 <button class="btn" onclick="openPage('http://bootdo.com','bootdo.com')">访问bootdo官网(新打开tab页事例)</button>-->
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>